<nav class="navbar">
  <h1 class="navbar-logo">
    <a id="index-btn">
      <dotlottie-player
        src="/assets/json/Animation - 1721976338193.json"
        background="transparent"
        speed="1"
        class="navbar-logo-icon"
        style="width: 70px; height: 70px"
        loop
        autoplay
      ></dotlottie-player
    ></a>
  </h1>
  <nav class="navbar-menu">
    <button type="button" class="uil-html3-alt" id="html-btn"></button>
    <button type="button" class="uil-java-script" id="js-btn"></button>
    <button type="button" class="uil-css3-simple" id="css-btn"></button>
    <button type="button" class="uil-info-circle" id="info-btn"></button>
  </nav>
</nav>
